header .navbar{
	padding: 5px;
	z-index: -1;
}
.background-header .navbar {
    padding: 5px;
}
.navbar .navbar-nav .nav-item {
    margin: 0px 1px;
    width: auto;
}
.owl-carousel .owl-item img {
    height: 180px;
}
.table {
    text-align: center;
}
input[type=checkbox]
{
    width: 50%;
    height: 1.5em;
}
#hd_container{
	width: 100%;
}
/* Dropdown Button */
/* Navbar container */
.navbar11 {
  overflow: hidden;
  background-color: #333;
  margin-bottom: 5px;
}

.navbar11 a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-right: 3%;
}

.dropdowni {
  float: left;
  overflow: hidden;
  padding-right: 2%;
}

.dropdowni .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar11 a:hover, .dropdowni:hover .dropbtn {
  background-color: red;
}

.dropdowni-contenti {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdowni-contenti a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdowni-contenti a:hover {
  background-color: #ddd;
}

.dropdowni:hover .dropdowni-contenti{
  display: block;
}
.dropdowni:hover header{
  z-index: -1
}
/* end dropdown ACC */
.owl-banner {
    padding-top: 150px;
}
.header-attend{
  text-align: center;
  padding-bottom: 25px;
}
.sl_at{
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#preview{
  max-height: 200px;
  min-height: 100px;
  min-width: 100px; 
  width: 20%; 
  margin-bottom: 15px; 
  border-radius: 25%;
}
.thongtin{
  font-weight: bold;
    border: none;
    text-align-last: end;
    max-width: 170px;
    padding: 0;
    font-weight: bold; 
    border: none; 
    text-align-last: end;
}
.thongtinten{
  font-weight: bold; 
  text-align: center;
  color: #63a3ff; 
  text-transform: uppercase; 
  border: none;
}
#c_image{
  border-radius: 50%;
  border: solid 2px #1586ff;
  margin-left: 70px; 
  margin-top: 70px;
  visibility: hidden;
}
.form-control:disabled {
    background-color: #ffffff00;
  }
  .bsbig_fig figcaption {
    font-family: Anton;
  }
  a{
    font-family: Anton;
  }
  .spost_nav .media-body > a{
    font-family: Anton;
  }