.navbar .navbar-nav .nav-item {
    margin: 0px 1px;
    width: auto;
}
.owl-carousel .owl-item img {
    height: 180px;
}
.table {
    text-align: center;
}
input[type=checkbox]
{
    width: 50%;
    height: 1.5em;
}